{% extends "layout.html" %}

{% block title %}
    Team Comparison App
{% endblock %}

{% block main %}
    <div id=bracket>
        <img id="nfl_logo" src="/static/nfl-logo.png">
    </div>
    <div>
        <p id=nfl_intro>Legal sports report estimated that 6 Billion Dollars in bets were made on the 2019 Super Bowl between the Patriots and Rams. 15% of American adults (38.1 million) say they will bet on the NFL for the 2019 season.
            39% of self-described “avid” NFL fans plan to place a bet on the NFL this season. Given an industry that is pumping out well over 100 billion a year in gambling. People are now, more than ever relying on large data sets to make a decision on which team to wager.
        By clicking on <a href="/match_up">Match-up</a>, you can have an inside look into all the 32 NFL teams game metrics to give you a more informed decision.</p>
    </div>
{% endblock %}